.DS_Store
node_modules
/dist
public/sitemap_index.xml
public/sitemaps

## Related to production build of vue, where packages needs to be copied in.
packages

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
