{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "parser": "vue",
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "singleAttributePerLine": true,
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.ts",
            "options": { "parser": "typescript" }
        },
        {
            "files": "*.vue",
            "options": { "parser": "vue" }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json",
                "printWidth": 80
            }
        },
        {
            "files": "*.js",
            "options": { "parser": "babel" }
        }
    ]
}
